.process-form .execute-button {
  font-weight: bold;
  margin-top: 12px;
  background-color: #3b5998;
  font-size: 15px;
  color: white;
  border: 0;
  width: 100%;
  padding: 20px;
  border-radius: 0px;
}

.process-form .process-form-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: relative;
}

.process-form .process-form-icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.process-form .process-form-icon .exclamation-mark {
  padding: 3px;
  box-sizing: border-box;
  fill: red;
  background-color: #ffffffa8;
  opacity: 0.7;
}

.process-form .layer-select {
  display: inline-block;
  width: calc(100% - 57px);
  padding: 0 10px;
}
